* {
  margin: 0;
}

body {
  background: linear-gradient(to right, rgb(56, 149, 210), rgb(35, 135, 202));
  color: white;
}

input {
  all: unset;
  box-sizing: border-box;
  color: black;
  background-color: white;
}

button {
  all: unset;
  background-color: white;
}

input:focus,
input:hover,
button:hover {
  background-color: rgb(240, 240, 240);
}

header {
  height: 5.5rem;
  display: flex;
  justify-content: center;
}

.region-name {
  position: absolute;
  left: 0.2rem;
  top: 0.1rem;
}

form {
  display: flex;
  align-items: end;
  gap: 0.2rem;
}

.region-input {
  width: 35rem;
  height: 1.85rem;
  font-size: 1.05rem;
  border-radius: 0.7rem;
  padding: 0.2rem;
  transition: 0.2s;
}

.region-btn {
  height: 1.85rem;
  width: 1.85rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.region-btn img {
  width: 70%;
  height: 70%;
}

.error {
  width: 20rem;
  height: 6.5rem;
  padding: 0.2rem;
  border-radius: 0 0 0.7rem 0.7rem;
  background-color: rgb(255, 255, 255);
  color: black;
  position: absolute;
  top: -7rem;
  right: 0;
  border: 1px solid black;
  will-change: top;
}

.error-btn {
  width: 3rem;
  height: 1.3rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  text-align: center;
  position: absolute;
  bottom: 0.3rem;
  right: 0.4rem;
  transition: 0.2s;
}

.cross {
  font-size: 0.8rem;
}

.days-container {
  display: flex;
  padding: 0;
  margin-top: 2.5rem;
  height: 10rem;
  justify-content: center;
  gap: 0.3rem;
}

.day {
  width: 5rem;
  height: 8rem;
  border: 2px solid white;
  text-align: center;
  border-radius: 1rem;
  transition: 0.2s;
}

.day:not(.chosen):hover {
  border: 2px solid rgb(218, 218, 218);
}

.today-forecast-container {
  width: 90rem;
  min-height: 40rem;
  padding: 0.5rem;
  margin: 2rem auto;
  border: 2px solid white;
  border-radius: 1rem;
}

.forecast-overview {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.hours-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.hour {
  width: 9.5rem;
  height: 10rem;
  border: 2px solid white;
  padding: 0.2rem;
  border-radius: 1rem;
}

.curr-hour {
  font-size: 1.1rem;
  text-align: center;
}

.hour img {
  display: block;
  margin: 0 auto;
}

#map {
  width: 80rem;
  height: 38rem;
  margin: 1.5rem auto;
  border: 2px solid white;
  border-radius: 1rem;
}

.map-type {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 1.5rem;
}

.map-btn {
  width: 11rem;
  height: 2rem;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  background: none;
  font-size: 1.1rem;
  transition: 0.2s;
}

.map-btn:hover {
  background: none;
}

.map-btn:not(.chosen):hover {
  border: 2px solid rgb(218, 218, 218);
}

.chosen {
  border: 2px solid rgb(255, 247, 5);
}

.none {
  display: none;
}

.hidden {
  animation-name: ascent;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.not-hidden {
  animation-name: descent;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.past {
  border: 2px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}

@keyframes descent {
  from {
    top: -7rem;
  }
  to {
    top: 0;
  }
}
@keyframes ascent {
  from {
    top: 0;
  }
  to {
    top: -7rem;
  }
}
