* {
  margin: 0;
}

header {
  height: 3rem; /* temporary */
  display: flex;
  flex-wrap: wrap;
}

.region {
  width: 100%;
}

.region {
  display: flex;
  justify-content: center;
}

.region-name {
  position: absolute;
  left: 0;
}

.days-container {
  height: 150px; /* temporary */
}

.day {
  width: 70px; /* temporary */
  min-height: 100px; /* temporary */
  border: 1px solid black; /* temporary */
}
